li {
  list-style: none;
  width: 95%;
  padding: 5px;
  color: aliceblue;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
}

.todo_list_title {
  color: red;
  width: 30%;
  border-radius: 0 5px 5px 0;

  padding: 5px 5px;
  text-transform: uppercase;
}
.todo_list_desc {
  background-color: green;
  color: aliceblue;
  display: flex;

  width: 100%;
  border-radius: 0 5px 5px 0;
  padding: 5px 5px;
  justify-content: space-between;
}

.btn__group {
  display: flex;
  justify-content: space-between;
}
